.wishlist-header-link {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.wishlist-header-link .wkh-button {
    --icon-size: 16px;
    --icon-fill: transparent;
    --icon-stroke: currentColor;
    --icon-stroke-width: 1px;
    --counter-size: 4px;
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    top: -1px;
}

@media only screen and (max-width: 700px) {
  .wishlist-header-link .wkh-button {
    --icon-size: 16px;
    --icon-stroke-width: 1px;
  }
  .wishlist-header-link .wkh-counter {
    top: -2px !important;
  }
}

.wishlist-header-link .wkh-icon svg {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: visible;
  pointer-events: none;
}

.wishlist-header-link .wkh-icon svg path {
  fill: var(--icon-fill);
  stroke: var(--icon-stroke);
  stroke-width: var(--icon-stroke-width);
  vector-effect: non-scaling-stroke;        
}

.wishlist-header-link .wkh-counter {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--counter-size);
  height: var(--counter-size);
  border-radius: calc(var(--counter-size) / 2);
  font-size: 11px;
  line-height: 1;
  position:  absolute;
  font-size: 0;
  text-indent: -9999px;

  top: -2px;
  right: -4px;
  color: inherit;
  background: currentcolor;
  box-shadow: 0 0 0 1px white;

  transition: all .3s ease-in-out;
}

.Header--transparent .wishlist-header-link .wkh-counter {
  box-shadow: none;
}

.wishlist-header-link .wkh-selected .wkh-counter {
  opacity: 1;
  transition: .2s opacity;
}
